.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#cffdff;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    background-image: linear-gradient(120deg, #cffdff, #b3d4ff);
}
.container .content {
    display: none;
    padding : 5px;
